<div class="container-fluid">

  <div class="row">



    <div class="col-lg-4">

      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"

        role="img" aria-label="Marcador de posición" preserveAspectRatio="xMidYMid slice" focusable="false">

        <title>Marcador de posición</title>

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>

      </svg>

      <h2 class="fw-normal">Título</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio qui cumque maxime numquam ea magnam esse

        enim laboriosam, vero fuga sint, ipsa deserunt impedit deleniti reprehenderit beatae nobis repellat non!</p>

      <p><a class="btn btn-secondary" href="#">Ver detalles</a></p>

    </div>



    <div class="col-lg-4">

      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Marcador de posición" preserveAspectRatio="xMidYMid slice" focusable="false">

        <title>Marcador de posición</title>

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>

      </svg>

      <h2 class="fw-normal">Otro título</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga, vitae veritatis ratione repellendus sed
        blanditiis eligendi quas numquam modi. Enim, quisquam quas. Provident voluptatibus quas sunt, atque magni
        blanditiis?</p>

      <p><a class="btn btn-secondary" href="#">Ver detalles</a></p>

    </div>



    <div class="col-lg-4">

      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Marcador de posición" preserveAspectRatio="xMidYMid slice" focusable="false">

        <title>Marcador de posición</title>

        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>

      </svg>

      <h2 class="fw-normal"></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel magni fugit corrupti consequatur voluptate saepe
        sed perspiciatis tempora quas, ea suscipit? Necessitatibus, sed quod. Repellat neque explicabo culpa numquam
        ipsam.</p>

      <p><a class="btn btn-secondary" href="#">Ver detalles</a></p>

    </div>


  </div>

  <hr class="featurette-divider">

  <div class="row featurette align-items-center">

    <div class="col-md-7 order-md-2">

        <h2 class="featurette-heading fw-normal lh-1">Título destacado uno. <span class="text-body-secondary">Te dejará asombrado.</span></h2>

        <p class="lead">La cara humana es una parte extremadamente compleja y distintiva de nuestro cuerpo. De hecho, es
            uno de los sistemas de señales más complejos que tenemos; incluye más de 40 músculos independientes estructural
            y funcionalmente, lo que permite que cada uno se active independientemente de los demás; y constituye uno de los
            indicadores más poderosos de las emociones.</p>

    </div>

    <div class="col-md-5">

        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">

            <title>Marcador de posición</title>

            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>

            <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            
        </svg>
    </div>
</div>



<hr class="featurette-divider">

<div class="row featurette align-items-center">

  <div class="col-md-7 order-md-2">

      <h2 class="featurette-heading fw-normal lh-1">Título destacado uno. <span class="text-body-secondary">Te dejará asombrado.</span></h2>

      <p class="lead">La cara humana es una parte extremadamente compleja y distintiva de nuestro cuerpo. De hecho, es
          uno de los sistemas de señales más complejos que tenemos; incluye más de 40 músculos independientes estructural
          y funcionalmente, lo que permite que cada uno se active independientemente de los demás; y constituye uno de los
          indicadores más poderosos de las emociones.</p>

  </div>

  <div class="col-md-5">

      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">

          <title>Marcador de posición</title>

          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>

          <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
          
      </svg>
  </div>
</div>

<hr class="featurette-divider">

  <div class="row featurette align-items-center">

    <div class="col-md-7 order-md-2">

        <h2 class="featurette-heading fw-normal lh-1">Título destacado uno. <span class="text-body-secondary">Te dejará asombrado.</span></h2>

        <p class="lead">La cara humana es una parte extremadamente compleja y distintiva de nuestro cuerpo. De hecho, es
            uno de los sistemas de señales más complejos que tenemos; incluye más de 40 músculos independientes estructural
            y funcionalmente, lo que permite que cada uno se active independientemente de los demás; y constituye uno de los
            indicadores más poderosos de las emociones.</p>

    </div>

    <div class="col-md-5">

        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">

            <title>Marcador de posición</title>

            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>

            <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            
        </svg>
    </div>
</div>
